.feature-card:hover{

    transform: translateY(-10px);

    box-shadow: 0 18px 35px rgba(0,0,0,.18);

}

.feature-card{

    transition: all .35s ease;

}

.feature-card i{

    transition: all .35s ease;

}

.feature-card:hover i{

    transform: scale(1.2);

}